h1 {
  color: #0000FF;
  font-weight: 400;
  font-size: 42px;
}

p {
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
}

blockquote {
  color: #0000FF;
  font-family: cursive;
  font-size: 24px;
  line-height: 24px;
}